body {
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  color: #000000;
  border: solid 3px white;
}
.wrapper{
  max-width: 1440px;
  margin: 0 auto;
}

/* ヘッダー */
header{
display: flex;
align-items: center;
position: relative; 
width: 980px;
height: 115px;
padding: 32px 16px;

}
header.wrapper{
  margin: 20px auto;
}
header .site-title a{
  font-size: 34px;
  border: solid 1px #000000
}
header nav{
  margin-left: auto;
}
header nav ul{
  display: flex;
}
header nav ul li{
  margin-right: 30px;
}
header nav ul li a{
  font-size: 34px;
}
header man ul li a:hover{
  opacity: 0.7;
}
@media(max-width:767px){
  .wrapper{
    width: 375px;
  }
  header .site-title a{
    font-size: 24px;
    border: solid 1px #000000
  }
  header nav ul li a{
    font-size: 24px;
  }
}

/* メインビジュアル */
.mainvisual img{
  width: 100%;
  height: auto;
  position: relative;
  top: 10px;
}
.section-title{
font-size: 34px;
margin-bottom: 70px;
}
.content-title{
  font-size: 24px;
  margin: 60px 0 50px 0;
}
/* about */
.about{
  text-align: center;
  padding-top: 100px;
}

.about .content{
  display: flex;
justify-content: center;
}
.about .content img{
  border-radius: 50%;
  margin-right: 100px;
}
.about .content .text{
text-align: left;
}
.profile-list li{
  list-style: disc;
  margin-left: 50px;
}
@media(max-width:767px){
  .about .content{
    flex-direction: column;
  }
  .about .content img{
    margin: 0 auto;
  }
  .about .content .text{
    margin: 0 auto;
  }
}
/* works */
.works{
text-align: center;
padding-top: 100px;
padding-bottom: 100px;
}
.works .contents{
  display: flex;
}
.works .contents .content{
  width: calc(100%/3);
  margin-right: 15px;
  font-size: 18px;

}
.works .contents .content:last-child{
  margin-right: 0;
}
.works .contents .content img{
  width: 100%;
}
@media(max-width:767px){
  .works .contents{
    flex-direction: column;
  }
  .works .contents .content{
    width: 100%;
    margin-bottom: 30px;
  }
}
/* footer */
footer{
  text-align: center;
  margin: 20px 0;
}