body {
  max-width: 1440px;
  margin: 0 auto 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #ffffff;
  color: #000000;

}
/* ヘッダー */
header{
  display: flex;
  height: 100px;
  line-height: 60px;
  background-color: pink;
}
header .site-title a{
  font-size: 34px;
border: solid 1px #000000;
}
header nav{
  margin-left: auto;
}
header nav ul{
  display: flex;
}
header nav ul li{
  margin-right: 30px;

}
