.decoration {
  font-size: 25 px;
  color: red;
  font-weight: bold;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic";
  font-style: italic;
  line-height: 4.5;
  letter-spacing: 1.5em;
  border-top: solid 3px rebeccapurple;
  border-bottom: double 3px red;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}

.text-bold {
  font-size: 30px;
  text-decoration: line-through;
  color: black;
}